body{
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
header{
    display: flex;
    width: 50%;
    height: 20px;
    justify-self: flex-start;
    justify-content: center;
    background-color: lightcoral;
}
footer{
    display: flex;
    width: 50%;
    justify-self: flex-end;
    height: 20px;
    background-color: aquamarine;
    justify-content: center;
}
img{
    height: 50%;
    width: auto;
    display: flex;
    justify-self: center;
    -webkit-touch-callout: none;
}

@keyframes bigger {
    0% {scale: 1}
    25% {scale: 1.5}
    50% {scale: 2}
    75% {scale: 1.5}
    100% {scale: 1}
}

img:active{
    animation: infinite;
    animation-name: bigger;
    animation-duration: 4s;
}